<launch>

  <group ns="/etsi_its_conversion">
    <node pkg="etsi_its_conversion" type="ConversionNode" name="ConversionNode" output="screen">
      <remap to="/etsi_its_conversion/topic_1" from="topic_1"/>  <!-- remaps a global topic to the relative topic of the node -->
    </node>
  </group>

</launch>

