#pragma once

#include <etsi_its_{{ etsi_type }}_coding/{{ t_name }}.h>
#include <etsi_its_{{ etsi_type }}_msgs/{{ t_name }}.h>


namespace etsi_its_{{ etsi_type }}_conversion {

void toRos_{{ t_name }}(const {{ t_name }}_t& in, etsi_its_{{ etsi_type }}_msgs::{{ t_name }}& out) {
{% for member in members %}
  toRos_{{ member.type }}(in, out.{{ member.name }});
{% endfor -%}
}

void toStruct_{{ t_name }}(const etsi_its_{{ etsi_type }}_msgs::{{ t_name }}& in, {{ t_name }}_t& out) {
    
  memset(&out, 0, sizeof({{ t_name }}_t));
{%- for member in members %}
  toStruct_{{ member.type }}(in.{{ member.name }}, out);
{% endfor -%}
}

}
