# ------------------------------------------------------------------------------
{% for line in asn1_definition.split('\n') -%}
# {{ line }}
{% endfor -%}
# ------------------------------------------------------------------------------

{% for comment in comments -%}
# {{ comment }}
{% endfor -%}
{% for member in members -%}
{{ member.type }} {{ member.name }}
{% if member.optional -%}
bool {{ member.name }}_is_present
{% endif -%}
{% if member.default -%}
{{ member.default.type }} {{ member.default.name }} = {{ member.default.value }}
{% endif -%}
{% if member.has_bits_unused -%}
uint8 bits_unused
{% endif -%}
{% for const in member.constants -%}
{{ const.type }} {{ const.name }} = {{ const.value }}
{% endfor %}
{% endfor %}