default:
  image: python:3.9
  before_script:
    - pip install -r utils/requirements.txt
    - ./asn1/external/download.sh


stages:
  - ASN1 Reduction
  - ASN1C
  - ROS Messages
  - Conversion Headers


asn1_reduce_cam:
  stage: ASN1 Reduction
  needs: []
  script:
    - >
      ./utils/codegen/reduceAsn1ToTypeDependencies.py
      -t CAM
      -o asn1/reduced/cam
      asn1/raw/cam_en302637_2/CAM-PDU-Descriptions.asn
      asn1/raw/cam_en302637_2/cdd/ITS-Container.asn
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

asn1_reduce_denm:
  stage: ASN1 Reduction
  needs: []
  script:
    - >
      ./utils/codegen/reduceAsn1ToTypeDependencies.py
      -t DENM
      -o asn1/reduced/denm
      asn1/raw/denm_en302637_3/DENM-PDU-Descriptions.asn
      asn1/raw/denm_en302637_3/cdd/ITS-Container.asn
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi


etsi_its_cam_coding:
  stage: ASN1C
  needs: []
  tags: [privileged, amd64]
  image: docker:24.0.7-git
  services: [docker:24.0.7-dind]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
    - apk update
    - apk add python3
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - ./asn1/external/download.sh
  script:
    - >
      ./utils/codegen/asn1ToC.py
      asn1/reduced/cam/CAM-PDU-Descriptions.asn
      asn1/reduced/cam/ITS-Container.asn
      -o etsi_its_coding/etsi_its_cam_coding
      -td /builds/$CI_PROJECT_PATH/tmp
    - rm -rf /builds/$CI_PROJECT_PATH/tmp
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_denm_coding:
  stage: ASN1C
  needs: []
  tags: [privileged, amd64]
  image: docker:24.0.7-git
  services: [docker:24.0.7-dind]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
    - apk update
    - apk add python3
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - ./asn1/external/download.sh
  script:
    - >
      ./utils/codegen/asn1ToC.py
      asn1/reduced/denm/DENM-PDU-Descriptions.asn
      asn1/reduced/denm/ITS-Container.asn
      -o etsi_its_coding/etsi_its_denm_coding
      -td /builds/$CI_PROJECT_PATH/tmp
    - rm -rf /builds/$CI_PROJECT_PATH/tmp
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_spatem_coding:
  stage: ASN1C
  needs: []
  tags: [privileged, amd64]
  image: docker:24.0.7-git
  services: [docker:24.0.7-dind]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
    - apk update
    - apk add python3
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - ./asn1/external/download.sh
  script:
    - >
      ./utils/codegen/asn1ToC.py
      asn1/raw/is_ts103301/SPATEM-PDU-Descriptions.asn
      asn1/raw/is_ts103301/cdd/ITS-Container.asn
      asn1/raw/is_ts103301/iso-patched/ISO24534-3_ElectronicRegistrationIdentificationVehicleDataModule-patched.asn
      asn1/external/ISO-TS-19091-addgrp-C-2018-patched.asn
      asn1/external/ISO14816_AVIAEINumberingAndDataStructures.asn
      -o etsi_its_coding/etsi_its_spatem_coding
      -td /builds/$CI_PROJECT_PATH/tmp
    - rm -rf /builds/$CI_PROJECT_PATH/tmp
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_mapem_coding:
  stage: ASN1C
  needs: []
  tags: [privileged, amd64]
  image: docker:24.0.7-git
  services: [docker:24.0.7-dind]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
    - apk update
    - apk add python3
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - ./asn1/external/download.sh
  script:
    - >
      ./utils/codegen/asn1ToC.py
      asn1/raw/is_ts103301/MAPEM-PDU-Descriptions.asn
      asn1/raw/is_ts103301/cdd/ITS-Container.asn
      asn1/raw/is_ts103301/iso-patched/ISO24534-3_ElectronicRegistrationIdentificationVehicleDataModule-patched.asn
      asn1/external/ISO-TS-19091-addgrp-C-2018-patched.asn
      asn1/external/ISO14816_AVIAEINumberingAndDataStructures.asn
      -o etsi_its_coding/etsi_its_mapem_coding
      -td /builds/$CI_PROJECT_PATH/tmp
    - rm -rf /builds/$CI_PROJECT_PATH/tmp
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi


etsi_its_cam_msgs:
  stage: ROS Messages
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToRosMsg.py
      asn1/reduced/cam/CAM-PDU-Descriptions.asn
      asn1/reduced/cam/ITS-Container.asn
      -o etsi_its_msgs/etsi_its_cam_msgs/msg
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_denm_msgs:
  stage: ROS Messages
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToRosMsg.py
      asn1/reduced/denm/DENM-PDU-Descriptions.asn
      asn1/reduced/denm/ITS-Container.asn
      -o etsi_its_msgs/etsi_its_denm_msgs/msg
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_spatem_msgs:
  stage: ROS Messages
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToRosMsg.py
      asn1/raw/is_ts103301/SPATEM-PDU-Descriptions.asn
      asn1/raw/is_ts103301/cdd/ITS-Container.asn
      asn1/raw/is_ts103301/iso-patched/ISO24534-3_ElectronicRegistrationIdentificationVehicleDataModule-patched.asn
      asn1/external/ISO-TS-19091-addgrp-C-2018-patched.asn
      asn1/external/ISO14816_AVIAEINumberingAndDataStructures.asn
      -o etsi_its_msgs/etsi_its_spatem_msgs/msg
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_mapem_msgs:
  stage: ROS Messages
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToRosMsg.py
      asn1/raw/is_ts103301/MAPEM-PDU-Descriptions.asn
      asn1/raw/is_ts103301/cdd/ITS-Container.asn
      asn1/raw/is_ts103301/iso-patched/ISO24534-3_ElectronicRegistrationIdentificationVehicleDataModule-patched.asn
      asn1/external/ISO-TS-19091-addgrp-C-2018-patched.asn
      asn1/external/ISO14816_AVIAEINumberingAndDataStructures.asn
      -o etsi_its_msgs/etsi_its_mapem_msgs/msg
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi


etsi_its_cam_conversion:
  stage: Conversion Headers
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToConversionHeader.py
      asn1/reduced/cam/CAM-PDU-Descriptions.asn
      asn1/reduced/cam/ITS-Container.asn
      -t cam
      -o etsi_its_conversion/etsi_its_cam_conversion/include/etsi_its_cam_conversion
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_denm_conversion:
  stage: Conversion Headers
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToConversionHeader.py
      asn1/reduced/denm/DENM-PDU-Descriptions.asn
      asn1/reduced/denm/ITS-Container.asn
      -t denm
      -o etsi_its_conversion/etsi_its_denm_conversion/include/etsi_its_denm_conversion
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_spatem_conversion:
  stage: Conversion Headers
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToConversionHeader.py
      asn1/raw/is_ts103301/SPATEM-PDU-Descriptions.asn
      asn1/raw/is_ts103301/cdd/ITS-Container.asn
      asn1/raw/is_ts103301/iso-patched/ISO24534-3_ElectronicRegistrationIdentificationVehicleDataModule-patched.asn
      asn1/external/ISO-TS-19091-addgrp-C-2018-patched.asn
      asn1/external/ISO14816_AVIAEINumberingAndDataStructures.asn
      -t spatem
      -o etsi_its_conversion/etsi_its_spatem_conversion/include/etsi_its_spatem_conversion
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi

etsi_its_mapem_conversion:
  stage: Conversion Headers
  needs: []
  script:
    - >
      ./utils/codegen/asn1ToConversionHeader.py
      asn1/raw/is_ts103301/MAPEM-PDU-Descriptions.asn
      asn1/raw/is_ts103301/cdd/ITS-Container.asn
      asn1/raw/is_ts103301/iso-patched/ISO24534-3_ElectronicRegistrationIdentificationVehicleDataModule-patched.asn
      asn1/external/ISO-TS-19091-addgrp-C-2018-patched.asn
      asn1/external/ISO14816_AVIAEINumberingAndDataStructures.asn
      -t mapem
      -o etsi_its_conversion/etsi_its_mapem_conversion/include/etsi_its_mapem_conversion
    - if [[ ! -z "$(git status --porcelain)" ]]; then echo "Code generation script resulted in changes to the repository"; exit 1; fi
