[submodule "cam_en302637_2"]
	path = ETSI-ITS-ASN1/cam_en302637_2
	url = https://forge.etsi.org/rep/ITS/asn1/cam_en302637_2
[submodule "ETSI-ITS-ASN1/denm_en302637_3"]
	path = ETSI-ITS-ASN1/denm_en302637_3
	url = https://forge.etsi.org/rep/ITS/asn1/denm_en302637_3.git
